body{

    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#start, #number_of_objects{
    font-size: 18px;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    margin-top:50px;
}
.copy_right_footer{
    position: fixed;
    color:azure;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 2;
    text-align: center;
}